<%= render 'layouts/header'%>


<ul>
<% @articles.each do |article| %>
  <li>
  	<%= link_to image_tag(article.pic), work_path(article.name) %>
  	<%= article.name %>
    <%= link_to 'Show', article %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
  </li>
<% end %>
</ul>
<br />

<%= link_to 'New Article', new_article_path %>

<%= render 'layouts/footer'%>
