<%= render 'layouts/header'%>


<!--<ul>
<% @articles.each do |article| %>
  <li>
  	<%= link_to image_tag(article.pic), work_path(article.name) %>
  	<%= article.name %>
  	<% if current_user %>
    <%= link_to 'Show', article %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </li>
<% end %>
</ul>-->
<div class="floats">
<% @articles.each do |article| %>
	<div class="pwork">
		<div class="r" align="center">
			<%= link_to image_tag(article.pic, :size => '250x250'), work_path(article.alias), :style => "background:none;" %><br />
			<%= link_to article.name, work_path(article.alias) %><br />
			<% if current_user %>
		    <%= link_to 'Edit', portfolio_work_path(article.alias) %>
		    <%= link_to 'Destroy', destroy_work_path(article.alias), :confirm => 'Are you sure?', :method => :delete %>
		    <% end %>
		</div>
	    <div class="min"></div>
	</div>
<% end %>
</div>
<br />
<% if current_user %>
<%= link_to 'New Article', new_article_path %>
<% end %>

<%= render 'layouts/footer'%>
