<%= render 'layouts/header'%>
<% if current_user %>
<%= link_to 'Edit', portfolio_work_path(@article.name) %> |
<%= link_to 'Back', articles_path %>
<% end %>
<div class="content">
    <div class="site_link site_link_img"><a href="<%= @article.link %>"><%= @article.link %></a></div>
    <div class="content_header">
      <h1><%= @article.name.mb_chars.upcase.to_s %></h1>
    </div>
    <div class="content_typechooser">
    	<% if @article.process !="" %>
      <ul>
        <li class="current">Описание</li>
        <li><%= link_to "Процесс", proc_path, :class => "process" %></li>
      </ul>
      <% end %>
    </div>
    <%= @article.describe.html_safe %>
  </div>
<p id="notice"><%= notice %></p>
<% if current_user %>
<%= link_to 'Edit', portfolio_work_path(@article.alias) %> |
<%= link_to 'Back', articles_path %>
<% end %>
<%= render 'layouts/footer'%>