<div id="wrapper">
	<%= render 'layouts/header'%>
    <div id="works"> 
    	<!--<a class="right work" href="#"><%= image_tag("1.jpg", :alt => "Work") %></a>
    	<a class="left work" href="#"><%= image_tag("2.jpg", :alt => "Work") %></a>
    	<a class="center work" href="#"><%= image_tag("3.jpg", :alt => "Work") %></a>-->
    	<!--<% get_narticles.each do |article| %>
    		<%= link_to image_tag(article.pic, :alt => article.name), article_path(article.id) %>
    	<% end %>-->
    	<div id="next"></div>
    	<div id="prev"></div>
    	
    	<% articles = get_narticles %>
    	<%= link_to image_tag(articles.first.pic, :alt => articles.first.name, :class => "center work"), work_path(articles.first.name) %>
    	<%= link_to image_tag(articles.second.pic, :alt => articles.second.name, :class => "left work"), work_path(articles.second.name) %>
    	<%= link_to image_tag(articles[2].pic, :alt => articles[2].name, :class => "out work"), work_path(articles[2].name) %>
    	<%= link_to image_tag(articles.last.pic, :alt => articles.last.name, :class => "right work"), work_path(articles.last.name) %>
    	
    </div>
    <div id="worktitle" align="center"><%= link_to articles.first.name, work_path(articles.first.name) %></div>
    
</div>
<%= render 'layouts/footer'%>
