<div id="header">
	<% if current_page?('/') %>
    	<div id="logo">ЮРИЙ ТАНСКИЙ<br>
    	<% else %>
    	<div id="logo"><%= link_to 'ЮРИЙ ТАНСКИЙ', root_url %><br>
    <% end %>
      <span class="webdes">веб-дизайнер</span></div>
    <%= mail_to "tansky@tansky.com.ua", "tansky@tansky.com.ua", :id => "mailto"  %>
    <ul style="float: left">
      <%= menu("ПОРТФОЛИО", portfolio_path) %>
      <%= menu("ОБО МНЕ", about_path) %>
      <%= menu("ЭКСПЕРИМЕНТЫ", experiments_path) %>
      <!--<li><a href="#">ПУТЕШЕСТВИЯ</a></li> -->
    </ul>
    <% if current_user %>
	<div id="user_nav">
	   Logged in as <%= current_user.email %>.
	   <%= link_to "Log out", log_out_path %>
	   <% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
	</div>
	 <% end %>
	

  </div>
  <div style="clear:both"></div>