<div id="header">
	<% if current_page?('/') %>
    	<div id="logo">ЮРИЙ ТАНСКИЙ<br>
    	<% else %>
    	<div id="logo"><%= link_to 'ЮРИЙ ТАНСКИЙ', root_url %><br>
    <% end %>
      <span class="webdes">веб-дизайнер</span></div>
    <%= mail_to "tansky@tansky.com.ua", "tansky@tansky.com.ua", :id => "mailto"  %>
    <ul>
      <%= menu("ПОРТФОЛИО", portfolio_path) %>
      <%= menu("ОБО МНЕ", about_path) %>
      <%= menu("ЭКСПЕРИМЕНТЫ", experiments_path) %>
      <li><a href="#">ПУТЕШЕСТВИЯ</a></li> 
    </ul>
  </div>
  <div style="clear:both"></div>